/** @format */
:root {
  --font-Comic: "Comic Neue", "cursive";
  --primary-color: #dfdf04;
  /* white, black, and gray are the colors of the text and background. */
  --bg-color: whitesmoke;
  --text-color: #101820;
  --secondary-color: gray;
  --link-color: #0b0bd3;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-Comic);
}
li,
a {
  list-style: none;
  text-decoration: none;
}
a {
  /* color: var(--link-color); */
}
header {
  background: #040607;
  color: #ffffff;
  padding: 1rem 0;
  /* padding: 0.75rem 2rem; */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
nav h1 a {
  color: #ffffff;
  font-size: 2.75rem;
  font-weight: 700;
  text-decoration: none;
}
nav ul {
  display: flex;
  gap: 0.5rem;
}
nav ul li a {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 4px;
  padding: 0.75rem;
  background: var(--primary-color);
  cursor: pointer;
  opacity: 1;
  color: var(--text-color);
}
nav ul li a:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.login-header {
  font-weight: 800;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  /* border: 1px solid #df6d6d; */
}
#message {
  position: absolute;
  top: 0%;
  font-size: 0.875rem; /* 14px */
  display: block;
  font-weight: 450;
  line-height: 1.25rem;
}
.container {
  border: 1px solid #b9b0b0;
  border-radius: 6px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1.25rem 0.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#login-form > div {
  margin-top: 0.59rem;
}
label {
  display: inline-block;
}
label[for="username"],
label[for="password"] {
  font-size: 0.875rem; /*14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 600;
}

input:focus {
  outline: 0.2px solid #2d502d;
}
input[type="password"],
input[type="text"] {
  width: 100%;
  display: inline-block;
  padding: 0.375rem;
  outline: none;
  line-height: 1.5rem; /* 24px */
  border-width: 0;
  border: 0.2px solid gray;
  border-radius: 3px;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  --tw-ring-inset: inset;
  --ring-color: #d1d5db;
}

button {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
  border: none;
  height: 35px;
  color: var(--text-color);
  background: var(--primary-color);
  opacity: 1;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
button:hover {
  cursor: pointer;
  opacity: 0.7;
}
p {
  font-size: 0.875rem;
  font-weight: 500;
}
.rememberme-forget-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-footer {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
