/** @format */

:root {
  --font-Comic: "Comic Neue", "cursive";
  --primary-color: #dfdf04;
  /* white, black, and gray are the colors of the text and background. */
  --bg-color: whitesmoke;
  --text-color: #101820;
  --secondary-color: gray;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-Comic);
}
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

header {
  background: var(--text-color);
  color: #ffffff;
  padding: 1rem 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
nav h1 a {
  color: #ffffff;
  font-size: 2.75rem;
  font-weight: 700;
  text-decoration: none;
}
nav ul {
  display: flex;
  gap: 0.5rem;
}
nav ul li a {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 4px;
  padding: 0.75rem;
  background: #ffff00;
  cursor: pointer;
  opacity: 1;
  color: #0a0101;
}
.container {
  border: 1px solid #b9b0b0;
  border-radius: 6px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#signup-form > div {
  margin-top: 0.59rem;
}
label {
  display: block;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 600;
}
input,
select {
  width: 100%;
  padding: 0.375rem;
  outline: none;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  border: 0.05px solid var(--secondary-color);
  border-radius: 4px;
}
input:focus {
  /* outline: 0.1px solid  var(--primary-color); */
  outline: 0.3px solid var(--secondary-color);
  
}
::placeholder {
  font-size: 14px;
}

button {
  width: 100%;
  padding: 0.5rem;
  text-align: center;

  border: none;
  height: 35px;
  color: var(--text-color);
  background: var(--primary-color);
  opacity: 1;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
}
#password-strength,
#message {
  font-size: 0.875rem; /* 14px */
  display: block;
  font-weight: 450;
  line-height: 1.25rem;
}
button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.login-footer {
  text-align: center;
}
.login-footer {
  font-size: 0.85rem;
  line-height: 1.25rem;
  font-weight: 500;
}

#successMessage {
  padding-top: 15px;
  text-align: center;
}
#successMessage span {
  font-weight: 600;
}
#successMessage a {
  color: #008000;
}
#welcome {
  background-color: yellow;
}
